$black: #212121;
$white: #fff;

$red: #EB588D;
$light-red: #FDEEF3;

$purple: #9626A8;
$light-purple: #FBCBFF;

$blue: #8fa0be;
$light-blue: #FCFCFD;

$green: #77D058;

$error: $red;
$success: $green;