$black: #212121;
$white: #fff;

$red: #EB588D;
$light-red: #FDEEF3;

$purple: #9626A8;
$light-purple: #FBCBFF;
$purple-alt: #7d41dd;

$blue: #8fa0be;
$light-blue: #FCFCFD;
$blue-alt: #7a91f8;

$green: #77D058;

$error: $red;
$success: $green;