@import 'imports';

.scrollable {
    max-height: 60vh;
    overflow: auto;
    background: $light-red;
    padding: 10px;
    border-radius: 15px;
}

.input-text {
    margin-top: 25px;
    margin-bottom: 25px;
}