<div class="logo">
    <img src="assets/svg/cryptohub_malta_logo.svg" alt="Crypto Hub Malta Logo" />
</div>
<h1>Let’s summon the Crypto Hub Malta DAO!</h1>
<p class="bold">Prove your membership at Crypto Hub Malta and sign up as an early DAO contributor</p>
<p>Click on 'Continue with WIDE' to securely present your credentials for verification. Once your eligibility is confirmed, you'll gain access to register as a CHM DAO summoner.</p>
<div class="buttons">
    <button>Continue with WIDE</button>
</div>