<div class="content">
    <h2>Edit Profile</h2>
    <div class="info">
        <i>Logged in as {{userNickname}}</i>
    </div>
    <div class="form">
        <!-- <p>Pending Changes: {{pendingChanges}}</p> -->
        <div class="profile-option">
            <div class="label">Nickname</div>
            <div class="input"><input type="text" class="align-center" [(ngModel)]="user.nickname" (ngModelChange)="pendingChanges = true" /></div>
        </div>
        <div class="profile-option">
            <div class="label">Email</div>
            <div class="value">
                <span *ngIf="!user.email">Not Currently Set</span>
                <span *ngIf="user.email">{{user.email}}</span>
            </div>
            <div class="input"><button (click)="beginOauthFlow()">Add email from OAuth Opovider</button></div>
        </div>
    </div>
    <div class="buttons">
        <button *ngIf="this.pendingChanges" (click)="updateUserProfile()">Save Profile</button>
        <button (click)="goToLeaderboard()">Back to Leaderboard</button>
    </div>
</div>